@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,600|Open+Sans:400,600");

:root {
  --background-color: hsl(83, 5%, 96%);
  --background-color-overlay: hsla(0, 0%, 0%, 0.85);
  --background-color-button: hsla(0, 0%, 7%, 0.8);
  --border-color-input: hsl(0, 0%, 93.3%);
  --font-headline: "Dosis", sans-serif;
  --font-copy: "Open Sans", sans-serif;
  --color: hsla(0, 0%, 7%, 0.9);
  --color-light: hsla(0, 0%, 7%, 0.6);
  --color-reverse: hsl(83, 5%, 96%);
  --color-reverse-light: hsla(83, 5%, 96%, 0.54);
  --color-input: hsl(0, 0%, 33.3%);
  --color-black: hsla(0, 0%, 0%, 0.8);
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
  line-height: 1.45;
}

*:before,
*:after {
  box-sizing: inherit;
}

.scroll-up {
  background-color: hsla(100, 100%, 100%, 1);
  position: fixed;
  bottom: 1rem;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
  right: 0.618rem;
  display: flex;
  justify-content: center;
  width: 2rem;
  padding: 0.116rem;
  outline: none;
}

.scroll-up a {
  border-radius: 0.125rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-up a::selection {
  background-color: hsla(100, 100%, 100%, 1);
}

.scroll-up .chevron {
  width: 0.618rem;
  outline: none;
}

html:not([data-scroll="0"]) .scroll-up {
  opacity: 0.6;
  transition: all 0.4s ease;
  z-index: 999;
}

body {
  font-family: var(--font-copy);
  color: var(--color);
  background-color: var(--background-color);
  line-height: 1.45;
  overflow-x: hidden;
}

body:before {
  content: "mobile";
  display: none;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
  color: var(--color);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  transition: all .3s cubic-bezier(.300, .100, .580, 1.0);
}

.nav-displayed {
  overflow: hidden;
}

.nav-links {
  display: none;
}

.page-loader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
}

.loader {
  background-color: #ddd;
  position: absolute;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  left: 50%;
  top: 50%;
  margin: -1.25rem 0 0 -1.25rem;
  text-indent: -9999rem;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
  animation: ball-scale 1s 0s ease-in-out infinite;
}

.container {
  background-color: #fff;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

nav {
  background-color: transparent;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 1;
}

.headline {
  font-family: var(--font-headline);
  color: var(--color);
  text-transform: uppercase;
  letter-spacing: 0.136rem;
}

.headline-sub {
  font-weight: 400;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  opacity: .6;
}

.logo {
  flex: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
  transition-delay: 0.2s;
}

.logo--a {
  letter-spacing: .236rem;
}

.logo--a:after {
  content: "llied Jiu Jitsu";
}

.logo-a--cap {
  background-color: var(--background-color-overlay);
  color: var(--color-reverse);
  padding-left: 0.618rem;
  padding-right: 0.382rem;
  padding-top: .382rem;
  padding-bottom: .382rem;
  margin-right: 0.236rem;
}

.logo--close {
  transform: translateY(-10rem) !important;
}

.nav-toggle {
  position: absolute;
  right: 0;
  z-index: 2;
  width: 1.618rem;
  height: 1.618rem;
  opacity: 0;
}

.hamburger {
  width: 1.618rem;
  height: 1.618rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger .lines {
  position: relative;
  width: 100%;
  height: 0.116rem;
  background-color: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.hamburger .lines:before,
.hamburger .lines:after {
  content: "";
  position: absolute;
  top: -0.618rem;
  z-index: 1;
  width: 100%;
  height: 0.116rem;
  background-color: inherit;
}

.hamburger .lines:after {
  top: 0.618rem;
}

.nav-toggle:checked {
  z-index: 12;
}

.nav-toggle:checked ~ .hamburger {
  z-index: 11;
}

.nav-toggle:checked + .hamburger .lines {
  background-color: var(--background-color);
  transform: rotate(135deg);
}

.nav-toggle:checked + .hamburger .lines:before,
.nav-toggle:checked + .hamburger .lines:after {
  top: 0;
  transform: rotate(90deg);
}

.nav-toggle:checked:hover + .hamburger .lines {
  transform: rotate(225deg);
}

.nav-toggle:checked ~ .menu {
  visibility: visible;
}

.nav-toggle:checked ~ .menu .overlay {
  opacity: 1;
  transition: all 0.4s ease;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.menu .items .item {
  list-style: none;
}

.menu .items .item .nav-link,
.menu .items .item .nav-link:hover,
.menu .items .item .nav-link:focus,
.menu .items .item .nav-link:active,
.menu .items .item .nav-link:visited {
  color: var(--color-reverse);
  font-family: var(--font-headline);
  font-size: 1.618rem;
  letter-spacing: 0.236rem;
}

.menu .overlay {
  background-color: var(--background-color-overlay);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0;
}

.menu .overlay .overlay-inner {
  vertical-align: middle;
  text-align: center;
  transition: opacity 0.4s ease;
  min-height: 21.25rem;
}

nav footer {
  color: var(--color-reverse-light);
  font-family: var(--font-headline);
  position: fixed;
  bottom: 1.618rem;
  text-align: center;
  font-size: 0.628rem;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.236rem;
  padding: 0 1rem;
}

.marquee {
  background-color: var(--background-color);
  color: var(--color-light);
  background-image: url('https://i.ibb.co/23FRVG2/marquee-mobile-portrait-2x.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee--copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .238rem;
  border-radius: .238rem;
}

h1 {
  font-weight: 400;
  font-size: 1.618rem;
  letter-spacing: 0.382rem !important;
  margin: 1.618rem 0.618rem;
}

.module {
  margin: 2.618rem 0.618rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module--headline {
  margin: 1rem;
  font-size: 0.875rem;
  letter-spacing: 0.375rem;
  line-height: 1.4;
}

.lnr {
  font-size: 2.618rem;
}

.blurb--copy {
  line-height: 1.8;
  margin-bottom: 0.382rem;
  font-size: .875rem;
}

input {
  border-color: var(--border-color-input);
  font-family: var(--font-headline);
  color: var(--color-input);
  text-transform: uppercase;
  letter-spacing: .125rem;
  font-size: .688rem;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: .125rem;
  padding: 0.375rem .75rem;
  line-height: 1.42857143;
  width: 100%;
  outline: none;
  transition: all .3s cubic-bezier(.300, .100, .580, 1.0);
  box-shadow: none;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-style: none;
}

input:focus {
  border-color: var(--color);
}

.btn-default {
  background-color: var(--background-color-button);
  color: var(--color-reverse);
  text-transform: uppercase;
  font-family: var(--font-copy);
  letter-spacing: 0.125rem;
  border-radius: .125rem;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
  font-weight: normal;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  user-select: none;
  font-size: 0.688rem;
  padding: 0.5rem 2.313rem;
  margin: 0;
  line-height: 1.42857143;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter {
  margin: 1rem 0;
  width: 100%;
}

.newsletter--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter--sign-up {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: calc(100vw - 1.236rem);
  width: 100%;
}

.programs {
    display: flex;
    flex-direction: column;
}

.program {
  width: 100%;
  margin: 1.618rem 0;
}

.program--marquee {
  height: 13.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 100%;
}

.program--bjj {
  background-image: url('https://i.ibb.co/wSbSGNT/card-image-bjj-mobile-landscape-2x.jpg');
}

.program--fitness {
  background-image: url('https://i.ibb.co/f0JkGk0/card-image-personal-training-2x.jpg');
}

.program-headline {
  font-family: var(--font-headline);
  color: var(--color);
  margin: 1.618rem 0;
  text-transform: uppercase;
  letter-spacing: .236rem;
  font-weight: 400;
}

.program-copy {
  color: var(--color-light);
  line-height: 1.8;
  font-size: .875rem;
  margin: 1.25rem 0;
}

.program-link,
.program-link:hover,
.program-link:focus,
.program-link:active,
.program-link:visited {
  font-family: var(--font-headline);
  color: var(--color-light);
  letter-spacing: .236rem;
  line-height: 1.8;
  display: block;
  font-size: .875rem;
}

footer {
  background-color: var(--background-color);
  color: var(--color-light);
  display: flex;
  height: 11.089rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  text-align: center;
}

.social-media-links {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100vw;
  align-items: center;
}

.social-media-link {
  font-family: var(--font-headline);
  color: var(--color-light);
  letter-spacing: 0.136rem;
  transition: all 0.4s ease;
  outline: none;
}

.social-media-link:hover,
.social-media-link:focus,
.social-media-link:active,
.social-media-link:visited {
  color: var(--color);
}

.copyright {
  font-size: 0.618rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 33.75rem) and (orientation: landscape) {
  body:before {
    content: "mobileLandscape";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

  .marquee {
    background-image: url('https://i.ibb.co/tYHWrn1/marquee-mobile-landscape-2x.jpg');
    justify-content: flex-start;
  }

  .marquee--copy {
    margin-left: .618rem;
  }

  .program--marquee {
    height: 17.942rem;
  }
}

@media only screen and (min-width: 33.75rem) and (max-width: 50rem) and (orientation: landscape) {
  body:before {
    content: "mobileLandscape";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

  .marquee {
    background-image: url('https://i.ibb.co/tYHWrn1/marquee-mobile-landscape-2x.jpg');
    justify-content: flex-start;
  }

  .marquee--copy {
    margin-left: .618rem;
  }

  .program--marquee {
    height: 29.03rem;
  }
}

@media only screen and (min-width: 48rem) and (max-width: 64rem) and (orientation: portrait) {
  body:before {
    content: "tabletPortrait";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

    nav {
        margin: 1rem 2.618rem;
    }

  .marquee {
    background-image: url('https://i.ibb.co/HhRs3P8/marquee-tablet-portrait-2x.jpg');
    justify-content: flex-start;
  }

  .module {
    margin: 2.618rem;
  }

    .newsletter--container {
    flex-direction: row;
    justify-content: space-between;
    }

    .newsletter--sign-up {
        flex: 1;
        margin-left: 1rem;
    }

  .programs {
      flex-direction: row;
  }

  .program {
      margin: 1.618rem .618rem;
  }

  .program--marquee {
      height: 13.625rem;
  }

  h1 {
    font-size: 1.625rem;
    letter-spacing: 1.5rem !important;
  }

  .headline-sub {
    font-size: 1rem;
    letter-spacing: .5rem;
  }
}

@media only screen and (min-width: 48rem) and (max-width: 64rem) and (orientation: landscape) {
  body:before {
    content: "tabletLandscape";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

    nav {
        margin: 1rem 2.618rem;
    }

  .nav-links {
    display: block;
    list-style-type: none;
    margin-right: 1rem;
    transform: translateY(0);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
  }

  .nav-link {
    display: inline;
    margin: 0 1rem;
    font-family: var(--font-copy);
    color: var(--color);
    text-transform: uppercase;
    letter-spacing: .136rem;
  }

  .nav-link a,
  .nav-link a:hover,
  .nav-link a:focus,
  .nav-link a:active,
  .nav-link a:visited {
    font-size: .618rem;
    padding: .618rem;
  }

  .marquee {
    background-image: url('https://i.ibb.co/dKS9bC2/marquee-tablet-landscape-2x.jpg');
    justify-content: flex-start;
  }

  .marquee--copy {
    margin-left: .618rem;
  }

  .module {
    margin: 2.618rem;
  }

    .newsletter--container {
    flex-direction: row;
    justify-content: space-between;
    }

    .newsletter--sign-up {
        flex: 1;
        margin-left: 1rem;
    }

  .programs {
      flex-direction: row;
  }

  .program {
      margin: 1.618rem .618rem;
  }

  .program--marquee {
      height: 29.03rem;
  }

  h1 {
    font-size: 1.625rem;
    letter-spacing: 1.5rem !important;
  }

  .headline-sub {
    font-size: 1rem;
    letter-spacing: .5rem;
  }
}

@media only screen and (min-width: 64rem) {
  body:before {
    content: "desktop";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

  .nav-—container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: auto;
      margin: 0;
      height: 56px;
      transition: all .4s ease;
      }

  nav {
      margin: 1rem 2.618rem;
      position: fixed;
      transition: all 0.4s ease;
      }

  .nav-links {
    display: block;
    list-style-type: none;
    margin-right: 1rem;
    transform: translateY(0);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
  }

  .nav-link {
    display: inline;
    margin: 0 1rem;
    font-family: var(--font-copy);
    color: var(--color);
    text-transform: uppercase;
    letter-spacing: .136rem;
  }

  .nav-link a,
  .nav-link a:hover,
  .nav-link a:focus,
  .nav-link a:active,
  .nav-link a:visited {
    font-size: .618rem;
    padding: .618rem;
  }

  .marquee {
    background-image: url('https://i.ibb.co/d7XdL5j/marquee-desktop-2x.jpg');
    justify-content: center;
      transition: all 0.4s ease;
      background-attachment: fixed;
    background-position: top right;
  }

  .marquee--copy {
    width: calc(100vw - 2.618rem);
  }

  .module {
    margin: 2.618rem;
  }

    .newsletter--container {
    flex-direction: row;
    justify-content: space-between;
    }

    .newsletter--sign-up {
        flex: 1;
        margin-left: 1rem;
    }

  .programs {
      flex-direction: row;
  }

  .program {
      margin: 1.618rem .618rem;
  }

  .program--marquee {
      height: 29.03rem;
  }

  h1 {
    font-size: 1.875rem;
    letter-spacing: 2.925rem !important;
    opacity: .9;
  }

  .headline-sub {
    font-size: 1rem;
    letter-spacing: .625rem;
  }

  .social-media-links {
    grid-template-columns: repeat(4, 11.089rem);
    grid-template-rows: 1fr;
    width: auto;
  }
}

@media only screen and (min-width: 85.375rem) {
  body:before {
    content: "wide";
  }

    nav {
        margin: 1rem auto;
        max-width: 87.5rem;
    }

  .marquee--copy {
    max-width: 75rem;
  }

  .module {
    margin: 4.236rem auto;
    max-width: 87.5rem;
  }

    .newsletter--container {
    flex-direction: row;
    justify-content: space-between;
    }

    .newsletter--sign-up {
        flex: 1;
        margin-left: 1rem;
    }

  .programs {
      flex-direction: row;
  }

  .program {
      margin: 1.618rem .618rem;
  }

  .program--marquee {
      height: 29.03rem;
  }

  h1 {
    font-size: 1.875rem;
    letter-spacing: 2.925rem !important;
    opacity: .9;
  }

  .headline-sub {
    font-size: 1rem;
    letter-spacing: .625rem;
  }

  .social-media-links {
    grid-template-columns: repeat(4, 11.089rem);
    grid-template-rows: 1fr;
    width: auto;
  }
}

@media only screen
  and (min-width: 64rem)
  and (max-height: 85.375rem)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  body:before {
    content: "iPadProPortrait";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

    nav {
        margin: 1rem 2.618rem;
        position: absolute;
    }

  .nav-links {
    display: block;
    list-style-type: none;
    margin-right: 1rem;
    transform: translateY(0);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
  }

  .nav-link {
    display: inline;
    margin: 0 1rem;
    font-family: var(--font-copy);
    color: var(--color);
    text-transform: uppercase;
    letter-spacing: .136rem;
  }

  .nav-link a,
  .nav-link a:hover,
  .nav-link a:focus,
  .nav-link a:active,
  .nav-link a:visited {
    font-size: .618rem;
    padding: .618rem;
  }

  .marquee {
    background-image: url('https://i.ibb.co/HhRs3P8/marquee-tablet-portrait-2x.jpg');
    justify-content: flex-start;
      background-attachment: scroll;
  }

  .marquee--copy {
    margin-left: .618rem;
  }

  .module {
    margin: 2.618rem;
  }

    .newsletter--container {
    flex-direction: row;
    justify-content: space-between;
    }

    .newsletter--sign-up {
        flex: 1;
        margin-left: 1rem;
    }

  .programs {
      flex-direction: row;
  }

  .program {
      margin: 1.618rem .618rem;
  }

  .program--marquee {
      height: 29.03rem;
  }

  h1 {
    font-size: 1.625rem;
    letter-spacing: 1.5rem !important;
  }

  .headline-sub {
    font-size: 1rem;
    letter-spacing: .5rem;
  }
}

@media only screen
  and (min-width: 64rem)
  and (max-height: 85.375rem)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  body:before {
    content: "iPadProLandscape";
  }

  .logo--a:after {
    content: "llied Jiu Jitsu & Fitness";
  }

    nav {
        margin: 1rem 2.618rem;
        position: absolute;
    }

  .nav-links {
    display: block;
    list-style-type: none;
    margin-right: 1rem;
    transform: translateY(0);
    transition: all 0.4s ease;
    transition-delay: 0.2s;
  }

  .nav-link {
    display: inline;
    margin: 0 1rem;
    font-family: var(--font-copy);
    color: var(--color);
    text-transform: uppercase;
    letter-spacing: .136rem;
  }

  .nav-link a,
  .nav-link a:hover,
  .nav-link a:focus,
  .nav-link a:active,
  .nav-link a:visited {
    font-size: .618rem;
    padding: .618rem;
  }

  .marquee {
    background-image: url('https://i.ibb.co/dKS9bC2/marquee-tablet-landscape-2x.jpg');
    justify-content: flex-start;
      background-attachment: scroll;
  }

  .marquee--copy {
    margin-left: .618rem;
  }

  .module {
    margin: 2.618rem;
  }

    .newsletter--container {
    flex-direction: row;
    justify-content: space-between;
    }

    .newsletter--sign-up {
        flex: 1;
        margin-left: 1rem;
    }

  .programs {
      flex-direction: row;
  }

  .program {
      margin: 1.618rem .618rem;
  }

  .program--marquee {
      height: 29.03rem;
  }

  h1 {
    font-size: 1.625rem;
    letter-spacing: 1.5rem !important;
  }

  .headline-sub {
    font-size: 1rem;
    letter-spacing: .5rem;
  }
}
